.categories {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 12px;
    scrollbar-color: #6969dd #f2f4f5;
    scrollbar-width: thin;
}

.item,
.active {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    background-color: #f2f4f5;
    cursor: pointer;
}

.active {
    color: #6b4eff;
    background-color: #e7e7ff;
}
